<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SalesforceAutomation">
  <test name="RegressionTest">
  <parameter name="browser" value="chrome"></parameter>
    <classes>
  	 	 	<class name="com.salesforce.tests.LoginTest"/> 
      <!-- <class name="com.salesforce.tests.HomeTest"/> 
     		<class name="com.salesforce.tests.AccountTest"/> 
     	 <class name="com.salesforce.tests.OpportunityTest"/>  
     		<class name="com.salesforce.tests.ContactsTest"/> 
     		<class name="com.salesforce.tests.LeadsTest"/> 
     		<class name="com.salesforce.tests.RandomScenariosTest"/> -->    	  	   	
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->